<div class="menu-bar" id="menu-bar">
	<ul class="side-menu flash-fix">
		<li>
			<a href="#">
				<span class="hamburger">|||</span>
			</a>
		</li>
		<li>
			<a href="/#" class="site-title">Logophile</a>
		</li>
	</ul>
	<ul class="user-menu flash-fix">
		<li>
			<a href="#">
				<span class="text">Settings</span> <%- include('svg/settings.svg') %>
			</a>
		<li>
			<a href="#">
				<span class="text">[[ displayUserName ]]</span> <%- include('svg/user-4.svg') %>
			</a>
		</li>
	</ul>
</div>