<div class="popup connection" id="">
	<h1>
		You were disconnected because you joined a different game, or joined this game again in another window.
	</h1>
	<p>
		<a class="button">Main Page</a>
	</p>
</div>