
<!-- Redo this as a component plz -->
<div id="popup-background" v-show="showPopup">
	<div class="popup-wrapper">
		<div class="popup">
			<div class="title">
				<h2>[[title]]</h2>
			</div>
			<div class="content" id="popup-content">
			</div>
			<div class="buttons">
				<ul>
					<li v-show="showCancel"><a href="#" v-on:click="hide()" class="button">Cancel</a></li>
					<li v-for="btn in buttons"><a href="#" v-on:click="btn.click()" class="button">[[btn.text]]</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
