<!DOCTYPE html>
<html>
	<head>
		<title>Logophile | 404</title>
		<meta name="description" content="Page not found.">
		<% include partials/metatags.ejs %>
		<% include partials/assets.ejs %>
	</head>
	<body>
		<% include partials/popup.ejs %>
		<% include partials/menu-bar.ejs %>
		<% include partials/share.ejs %>

		<div id="mainpage">
			<div class="menu">
				<div class="inner">
					<h1 class="notfound">404: Page not found</h1>
					<a href="/">Go somewhere that exists</a>
				</div>
			</div>
		</div>

		<% include partials/footer-assets.ejs %>
	</body>
</html>
