<!DOCTYPE html>
<html>
	<head>
		<title>Logophile | Game doesn't exist</title>
		<meta name="description" content="Game doesn't exist">
		<% include partials/metatags.ejs %>
		<% include partials/assets.ejs %>
	</head>
	<body>
		<% include partials/popup.ejs %>
		<% include partials/menu-bar.ejs %>
		<% include partials/share.ejs %>

		<div id="mainpage">
			<div class="menu">
				<div class="inner">
					<h1 class="notfound">One problem here:</h1>
					<h2>The game you requested doesn't exist.</h2>
					<a href="/">Create a new one?</a>
				</div>
			</div>
		</div>

		<% include partials/footer-assets.ejs %>
	</body>
</html>