link( rel="stylesheet", type="text/css", href="/assets/css/main.css" )
include game-data.jade
include user-data.jade
script( src="/assets/js/logophile.build.js" )
//- script( src="/assets/js/logophile.build.min.js" )