div( class="game-info" )
	span( class="desktop-view" )
		p( class="label" ) Game:
		h2 [[Game Name]]
		ul( class="menu inline" )
			li
				a( href="/" ) Leave
			li
				a( href="#" ) Setup
			li
				a( href="#" ) Start

	span( class="mobile-view" )