h1( class="logo-small" id="logo-small" )

	mixin logo
		each val, index in "Logophile".split("")
			if ( index < 4 )
				span( class="inverse" )=val
			else
				span=val

	if ( locals.pagetype == "game" )
		a( href="/", title="Leave Game", v-on:click="changeScreen('', $event)" )
			+logo
	else
		a( href="/", v-on:click="changeScreen('', $event)" )
			+logo

	span( class="version" ) version #{locals.version}