h1( class="logo-small white" id="logo-small" )

	mixin logo
		img( src="/assets/images/logo-48px.png" )

	if ( locals.pagetype == "game" )
		a( href="/", title="Leave Game", v-on:click="changeScreen('', $event)" )
			+logo
	else
		a( href="/", v-on:click="changeScreen('', $event)" )
			+logo

	//- span( class="version" ) version #{locals.version}