div( class="menu-bar" id="menu-bar" )
	ul( class="side-menu" )
		li
			a( href="#" )
				span( class="hamburger" ) |||
		li
			a( href="/#" class="site-title" ) Logophile

	ul( class="user-menu" )
		li
			a( href="#"  )