div( class="playercard" id="playercard" )
	p playing as:
	h3( class="username" ) [[displayUserName]]
	//- p( class="ranking" ) unranked
	div( class="expand" )
		a( href="#" class="disabled" ) Local Settings
		a( href="#" v-if="logged" class="disabled" ) Profile
		a( href="#" v-if="logged" ) Logout
		//- input( v-if="!logged" placeholder="Email" type="text" )
		//- input( v-if="!logged" placeholder="Password" type="password" )
		//- a( href="#" class="disabled" v-if="!logged" ) Login