div( class="sidebar" )
	div( class="upper" )
		div( class="leaderboard" )
			h3 Leaderboard
			ul
				li 1. Sam August
					span 224
				li 2. Mu Te
					span 215
				li( class="me" ) 3. Cosine Pi
					span 59
		div( class="game-setup" )
	div( class="chat" )
		div( class="resizer" )
		div( class="log" )
			ul
				li
					span( class="name" ) Name:
					| Test message
				li
					span( class="name" ) Test:
					| Test message
		input( type="text" placeholder="Type here to chat" )
