div( class="sidebar" id="sidebar" )
	div( class="upper" )
		div( class="leaderboard" )
			h3 Leaderboard
			ul
				//- We need to figure out how to make sure this is sorted by the user scores, not just their position in the array
				li( v-for="user in gameData.users.playing" v-bind:class="{ 'me': user.name == userData.name }" ) [[$index+1]]. [[user.name]]
					span [[user.score]]
				//- li 2. Mu Te
					span 215
				//- li( class="me" ) 3. Cosine Pi
					span 59
		div( class="game-setup" )
	div( class="chat" )
		div( class="resizer" )
		div( class="log" )
			ul
				//- Eventually we will add chat here
				//- li
					span( class="name" ) Name:
					| Test message
				//- li
					span( class="name" ) Test:
					| Test message
		input( type="text" placeholder="Type here to chat" )
