div( class="sidebar" id="sidebar" )
	div( class="upper" )

		div( class="leaderboard" v-on:mouseover="freezeBoard($event)" v-on:mouseout="unfreezeBoard($event)" )
			h3 Scoreboard
			ul
				//- We need to figure out how to make sure this is sorted by the user scores, not just their position in the array
				li( v-for="user in playersSorted" v-bind:class="{ 'me': user.name == userData.name }" ) [[$index+1]]. [[user.name]]
					span [[user.score]]
				//- li 2. Mu Te
					span 215
				//- li( class="me" ) 3. Cosine Pi
					span 59

		div( class="game-setup" )
	div( class="controls" )
		ul( class="inline" )
			li
				a( v-bind:class="{ active: true }" ) Score
			li
				a( v-bind:class="{ active: false }" ) Info
			li
				a( v-bind:class="{ active: false }" ) Chat
		div( class="marker" )
