include ./parts/header.jade
title Logophile | 404
meta( name="description", content="Page not found." )
include ./parts/assets.jade

!= "</head>"

body
	include ./parts/playercard.jade
	include ./parts/logo-small.jade
	include ./parts/share.jade

	div( id="mainpage" )
		div( class="menu" )
			div( class="inner" )
				h1( class="notfound" ) 404: Page not found
				h2 Reality is an infinite void of nothing!
				a( href="/" ) omg nooooooo fix it



!= "</html>"