
include ./parts/header.jade
title Logophile | Game
meta( name="description", content="Logophile is a fast-paced word finding game similar to boggle." )
include ./parts/assets.jade

!= "</head>"

body
	include ./parts/game-info.jade
	include ./parts/sidebar.jade
	
	div( class="game" )
		include ./parts/logo-small.jade
		include ./parts/share.jade
		include ./parts/playercard.jade

		div( class="inner" id="game-inner" )
			div( class="col left" v-style="maxWidth: ( (gameData.game.board.length > 4 ) ? 25 : 30 ) + '%'" )
				div( class="remaining" )
					div( class="list nowrap" )
							h2 Remaining: 
								//- I think the following takes up too much space, but I'll leave it commented in case we decide to add it again:
								//- span( class="remaining-num" ) 95
								//- span( class="remaining-percentage" ) (90%)
							div
								ul( class="lengths" )
									li length
									li( v-repeat="gameData.game.wordCounts" ) [[$key]]

								ul( class="counts" )
									li count
									li( v-repeat="gameData.game.wordCounts" ) [[$value]]

			div( class="col center" v-style="minWidth: boardpx+'px', maxWidth: boardpx+'px'," )
				div( class="game-center" )
					div( class="hud" id="hud" )

						h2(  v-if="gameData.game.initd && gameData.game.roundStarted" ).
							Round Started

						h2( class="round-ended" v-if="gameData.game.initd && !gameData.game.roundStarted && gameData.game.rounds > 0"  ).
							Round Ended

						div( class="time-wrapper" v-if="gameData.game.initd && gameData.game.roundStarted" )
							p( class="timer-label" ) Time remaining:
							h2( class="timer" ) [[ gameData.game.timeLimit - gameData.game.roundTime | time 'ceil' ]]

						div( class="time-wrapper" v-if="gameData.game.initd && !gameData.game.roundStarted" )
							p( class="round-starts" ) Next round starts in:
							h2( class="round-starts-timer" ) [[ gameData.game.pauseTimeLimit - gameData.game.pauseTime | time 'ceil' ]]

						div( class="place-wrapper" v-if="gameData.game.initd && gameData.game.rounds > 0" )
							h3( class="score" ) Score: [[userData.score]]
							h4( class="place" ) Place [[place]] / [[gameData.users.playing.length]]

						h2( class="waiting-to-start" v-if="!gameData.game.initd" ) Waiting to start first round
						a( href="#" class="button" v-if="!gameData.game.initd" v-on="click: startGame()") Start Game

					div( class="board" v-style="height: boardpx+'px', width: boardpx+'px', minHeight: boardpx+'px', maxHeight: boardpx+'px'" )
						div( class="row" v-style="height: 100/gameData.game.board.length+'%' " v-repeat="gameData.game.board" )
							div( class="cell" v-style="width: 100/gameData.game.board.length+'%' "  v-repeat="gameData.game.board[$index]" )
								div( class="letter" v-style="font-size: boardpx*0.5/gameData.game.board.length + 'px' " ).
									[[ gameData.game.board[$parent.$index][$index] ]]

					div( class="word" )
						input( type="text" placeholder="type here" )
						h3 [[inputlength]] Letters 
							span( class="word-score" ) +[[inputscore]]
								span( class="word-points" ) points

			div( class="col right" )
				div( class="found" )
					h2 Found: 
						span( class="found-num" ) [[playerwords]] 
							span( class="found-percentage" ) (10%)
					div( class="found-section" )
						h4( class="" ) N Letters 
							span( class="found-num" ) 5 
								span( class="found-percentage" ) (X points)
						ul( class="inline" )
							li Phrase
							li Phrase
							li Phrase
							li Phrase
							li Phrase
							li Phrase
					div( class="found-section" )
						h4( class="" ) N Letters 
							span( class="found-num" ) 5 
								span( class="found-percentage" ) (X points)
						ul( class="inline" )
							li Phrase
							li Phrase
							li Phrase
							li Phrase
							li Phrase
							li Phrase

!= "</html>"