include ./parts/header.jade
title Logophile
meta( name="description", content="Logophile is a fast-paced word finding game similar to boggle." )
include ./parts/assets.jade

!= "</head>"

body
	include ./parts/playercard.jade
	include ./parts/logo-small.jade
	include ./parts/share.jade

	div( id="mainpage" )
		div( class="create-game-wrapper" v-bind:class="{ 'active' : openScreen == 'createNew' }" )
			div( class="options")
			a( href="#" class="button" v-on:click="createGame()" ) Create

		div( class="menu" v-bind:class="{ 'open' : !!openScreen }" )
			div( class="inner" )
				h2 Logophile is a fast-paced multiplayer word find game inspired by boggle.
				ul( class="options inline" )
					li
						a( href="#" class="disabled" title="Currently Unavailable" v-bind:class="{ 'active' : openScreen == 'gameList' }" ) Join Game
					li
						a( href="#" v-on:click="changeScreen('createNew')" v-bind:class="{ 'active' : openScreen == 'createNew' }" ) Create New Game
					li
						a( href="#" class="disabled" title="Currently Unavailable" v-bind:class="{ 'active' : openScreen == 'howToPlay' }" ) How to Play



!= "</html>"