include ./parts/header.jade
title Logophile | Game doesn't exist
meta( name="description", content="Game doesn't exist" )
include ./parts/assets.jade

!= "</head>"

body
	include ./parts/popup.jade
	include ./parts/playercard.jade
	include ./parts/logo-small.jade
	include ./parts/share.jade

	div( id="mainpage" )
		div( class="menu" )
			div( class="inner" )
				h1( class="notfound" ) One problem here:
				h2 The game you requested doesn't exist.
				a( href="/" ) Create a new one?

	include ./parts/footer-assets.jade
!= "</html>"